.footer{
  color: #000
}

.posts-collapse::before{
  background:   $content-bg-color
}

a{
  border-bottom: 3px solid #00dddd
  &:hover{
    border-bottom: 5px solid #00ffff
  }
}

.menu .menu-item a{
   &:hover{
    border-bottom: 0px solid #00ffff
  }
}

blockquote {
    border-left: 4px solid #3ac057;
}