$body-bg-color   = linear-gradient(to right, #bb313e25, #bb313e25, #d7222925, #dd4a1625, #e4761525, #f5c50025, #f0e92725, #b1ce2425, #48a93525, #03944525, #157c4f25, #176a5825, #1b556325, #1d386f25, #1d386f25, #20277825, #52266325, #8a244b25)
$content-bg-color   = #FAF9DE   
// $card-bg-color   = #
// $text-color   = #
// $blockquote-color   = #
// $link-color   = #CCE8CF
// $link-hover-color   = #e4393c
// $brand-color   = #
// $brand-hover-color   = #
// $table-row-odd-bg-color   = #
// $table-row-hover-bg-color   = #
$menu-item-bg-color   = $body-bg-color 
// $btn-default-bg   = #
// $btn-default-color   = #
// $btn-default-border-color   = #
// $btn-default-hover-bg   = #
// $btn-default-hover-color   = #
// $btn-default-hover-border-color   = #